
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    scrollbar-width: thin;
    scrollbar-color: 'red';
    scroll-behavior: smooth;

    font-family: 'Barlow', sans-serif;
      
  }
    
  body {

    background-image: url("../img/bg-large.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: black;

    padding-top: 50px;
    padding-bottom: 50px;
    line-height: 1.5rem;

}

section {

    width: 50%;
    margin: auto;
    background-color: black;
    height: calc( 100vh - 100px);
    padding: 20px;
    overflow-y: auto;
}

.tech {

    margin-left: 40px;
    width: 30%;

}

@media only screen and (max-width: 767px) {
    
    body {

        background-image:  url("../img/bg-small.jpg");
        padding-top: 20px;
        padding-bottom: 20px;
        font-size: 0.8em;
    
    }

    section {

        width: 80%;
        height: calc( 100vh - 40px);

    }

    .tech {

        margin-left: 10px;
        width: 100%;

    }

}

.cursor { 

    color: #ADFF2F;

}

.dollar {

    color: white;

}

.regular {

    color: #E91E63;

}

.blue {

    color: rgb( 53, 140, 214 );

}
 
.blinking-cursor {
    font-weight: 600;
    color: white;
    -webkit-animation: 1s blink step-end infinite;
    -moz-animation: 1s blink step-end infinite;
    -ms-animation: 1s blink step-end infinite;
    -o-animation: 1s blink step-end infinite;
    animation: 1s blink step-end infinite;
  }
  
  @keyframes blink {
    from, to {
      color: transparent;
    }
    50% {
      color: #E91E63;
    }
  }
  